<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Profile Update</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container mt-5">
      <h2>Update Profile</h2>
      <form method="POST" action="{{ url_for('update_profile') }}">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" id="username" name="username" value="{{ current_user.username }}" required />
        </div>
        
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" name="email" value="{{ current_user.email }}" required />
        </div>
        
        <div class="form-group">
          <label for="password">Password (leave blank if you don't want to change):</label>
          <input type="password" class="form-control" id="password" name="password" />
        </div>
        
        <button type="submit" class="btn btn-primary">Update Profile</button>
        <button <a href="{{ url_for('logout') }}">Logout</a></button>
      </form>
      
     
    </div>
  </body>
</html>
